#container{
position: relative;
width: 100%;
max-width: 1330px;
box-sizing: border-box;
}
#box-parent{
 width: 500px;
 height: 500px;
 top: 25%; left: 20%;
 max-width: 1330px;
 position: relative;
 box-sizing: border-box; 
 border: 2px solid #f90ddc;
 margin-top: 20px;
}
#box-child{
position: absolute;
box-sizing: border-box; 
width: 500px;
height: 500px;
top: 10%; left: 30%;
border: 2px solid #f5f90d;
margin: 0;
}
.child{
box-sizing: border-box;
position: absolute;
}
.parent{
box-sizing: border-box;
position: absolute;
}